/* Your existing styles remain unchanged */

.main-container {
    display: flex;
    justify-content: space-between; /* This will position the card and content on opposite ends */
    max-width: 1000px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the content horizontally */
  }
  
  .card-container {
    width: 300px; /* Adjust the width of the card as needed */
    background-color: #e6e6e6; /* Change the background color of the card */
    padding: 1rem; /* Add padding to the card */
    border-radius: 0.375rem;
  }
  
.content-container {
    width: 500px; /* Adjust the width as needed */
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .flex-container {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .alert-container {
    border-radius: 0.375rem;
    padding: 1rem;
    background-color: rgb(254 242 242);
  }
  
  .prompt-heading {
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
  }
  
  .prompt-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
    text-align: justify;
  }
  
  .prompt-wrap {
    margin-top: 0.5rem;
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .prompt-list {
    padding-left: 1.25rem;
    margin-top: 0.25rem;
    list-style-type: disc;
  }
  